.Project {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
    padding: 50px;
    border: 1px solid gray;
}

.image-container {
    max-width: 430px;
    margin: auto;   
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 0;
}

.image {
    display: block;
}